// variables
$color1: #ffffff;
$color2: #efefef;
$color3: #fba919;

$black: #000000;
$white: #ffffff;

$royalBlue: #0014a0;
$brightCyan: #42c9ff;



// blue RGB 74,94,105
// Brown RGB 181, 152, 87
$aoifeBlue: #4a5e69;
$aoifeBrown: #b59857;

$lightBlue: #deebeb;
$grayishCyan: #d8dfe2;
//$darkBlueGreen: #487784;
//$goldGreen:  #c9c7ab;

$darkBlueGreen: #4a5e69;
//$goldGreen:  #b59857;
$goldGreen:  #B3A283;

$colorBodyBackground: #c9c7ab;
$colorBodyText: #000000;
$colourPageText: #000000;
