footer{
		background: url(images/BottomBanner.jpg);
    background-size: cover;
    padding-bottom: 24px;
		padding-top: 60px;
}

.footer-widgets {
	@include clearfix;
	@include span-columns(12);

	background: $grayishCyan;
	padding: 1.5em 0;
	list-style: none;
	margin: 0;

}
.footer-navigation-links{
	font-size: 14px;
	display: inline-block;
    width: 100%;
    border-top: 1px $darkBlueGreen solid;
		color: $darkBlueGreen;
		font-family: $CenturyGothic;
		padding: 0 1%;
		a{
			color: $darkBlueGreen;
		}
	.footer-navigation-links-copyright{
		display: inline-block;
    float: left;
	  font-size: 8px;
	  padding-top: 18px;
	}

	.footer-navigation-conradjones{
    display: inline-block;
    float: right;
	  padding-top: 18px;
	  font-size: 8px;
	}
	.footer-navigation-conradjones-design-by{
		border-right: 1px $darkBlueGreen solid;
		padding-right: 3px;
	}
}
.harcourt-developments{
		float: left;
		margin-top: 20px;
		margin-left: 110px;
}
.hooke-mcdonald{
		float: right;
    	width: 300px;
		margin-top: 20px;
        margin-right: 70px;
}

.hooke-mcdonald-logo,.hooke-mcdonald-contact{
	display:inline-block;
    width: 150px;
}
.hooke-mcdonald-contact{
		position: relative;
    bottom: 2px;
}
.harcourt-developments-logo{
	display:block;
}
.hooke-mcdonald-logo{
	background-image: url(images/hooke_logo.png);
	width: 82px;
	height:51px;
  	background-size: cover;
	@include media($small) {
	  width: 41px;
	  height: 25px;
	}
}
.harcourt-developments-logo{
	background-image: url(images/harcourt_logo.png);
	width: 99px;
	height:56px;
  	background-size: cover;
	@include media($small) {
	  width: 50px;
	  height: 25px;
	}
}
.hooke-mcdonald-contact-phone,.hooke-mcdonald-contact-email{
	color: $darkBlueGreen;
}
.hooke-mcdonald-contact-phone{
    font-size: 24px;
    font-weight: bold;
}
.hooke-mcdonald-contact-email{
		font-size: 14px;
    font-weight: lighter;
}
