.footer-widgets {
	@include clearfix;
	@include span-columns(12);

	background: $grayishCyan;
	padding: 1.5em 0;
	list-style: none;
	margin: 0;

}
.footer-navigation-links{
	font-size: 14px;
	display: inline-block;
    width: 100%;
    border-top: 1px $darkBlueGreen solid;
		color: $darkBlueGreen;
		font-family: $googleMuli;
		a{
			color: $darkBlueGreen;
		}
	.footer-navigation-links-copyright{
		display: inline-block;
		width: 240px;
    float: left;
    padding-top: 10px;

	}
	.footer-navigation-links-nav-menu{
    display: inline-block;
		
		nav{
			left: 0;
    	font-size: 14px;
			a{
				color: $darkBlueGreen;
		    font-weight: lighter;
		    font-family: $googleMuli;
			}
			ul{
				@media screen and (min-width: 650px){

							.nav li:nth-child(3) {
							    margin-right: 0px;
							}
							.nav li{
								min-width: 0;
							}
				}
			}
		}
		.nav-bottom li:after {
			content: " \00b7";
			font-size: 15px;
		}

		.nav-bottom li:nth-child(5):after { content: none; }

	}
	.footer-navigation-conradjones{
    display: inline-block;
    float: right;
    padding-top: 10px;
	}
	.footer-navigation-conradjones-design-by{
		border-right: 1px $darkBlueGreen solid;
		padding-right: 3px;
	}
}
.harcourt-developments{
		float: left;
		margin-top: 20px;
		margin-left: 50px;
}
.hooke-mcdonald{
		float: right;
    width: 300px;
		margin-top: 20px;
}

.hooke-mcdonald-logo,.hooke-mcdonald-contact{
	display:inline-block;
    width: 150px;
}

.harcourt-developments-logo{
	display:block;
}
.hooke-mcdonald-logo{
	background-image: url(images/hooke_logo.png);
	width: 82px;
	height:51px;
}
.harcourt-developments-logo{
	background-image: url(images/harcourt_logo.png);
	width: 99px;
	height:56px;

}
.hooke-mcdonald-contact-phone,.hooke-mcdonald-contact-email{
	color: $darkBlueGreen;
}
.hooke-mcdonald-contact-phone{
    font-size: 24px;
    font-weight: bold;
}
.hooke-mcdonald-contact-email{
		font-size: 14px;
    font-weight: lighter;
}
