.front-page-action-button{
  	background-color: $goldGreen;
  	color: $white;
    font-family: $Cabrito;
}

.slider-description{
  @extend .front-page-action-button;
  width: 100%;
  height: 50px;
  text-align: center;
}
.front-page .slider-area{
    border-top: 3px solid #b59857;
}
.slider-description-text{
    font-size: 30px;
    text-align: center;
    width: 100%;
    list-style: 50px;
}
.page-content.primary{
  //margin: 20px 30px;
  margin: 20px 0;
}

.page-content.secondary{

    min-height: 410px;
    border-top: 4px solid $goldGreen;
    background-color: $darkBlueGreen;
    //padding-left: 20px;
    //padding-right: 70px;

    h1{
      color: $white;
      text-align: center;
      font-size: 28px;
      font-weight: lighter;
    }

    table{
        background-color: $darkBlueGreen;
        width: 80%;
        margin: 0 2%;
        margin-top: 100px;
    }
     // need important to over-ride defaults here
      .sliderimgLi img{
        padding: 2px !important;
      }

    .view-gallery{
      float: right;
      padding: 0 2px;
      margin-right: 70px;
    }

}

.page-content-primary-article-container,.page-content-primary-action-container, .download-brochure{
  display: inline-block;
}
.page-content-primary-article-container{
    width: 65%;
    .page-content.primary h1{
      font-weight: lighter;
      font-size: 40px;
      font-style: italic;
      margin-bottom: -15px;
    }
    .page{
      font-size: 16px;
      font-weight: lighter;
    }
}
.page-content-primary-article-container-h1{
  max-width: 100%!important;
  @include media($small) {
    font-size: 20px;
  }
}
.page-content-primary-action-aside.download-brochure{

  display: inline-block;
    .download-brochure-text{
       padding: 30px;
     }
}


.download-brochure-background {
  background: url(images/cuilDuin_brochureCover.png);
  width: 200px;
  height: 300px;
  // float: right;
  background-size: 100%;
  background-repeat: no-repeat;

  cursor: pointer;

  display: block;
  position: relative;
}

.download-brochure-background::after {
  content: "";
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 200;
  background-size: 100%;
  width: 200px;
  height: 280px;
}

.download-brochure-background:hover::after{
  opacity: 0.1;
}


.download-brochure-text{
  position: relative;
  top: 115px;
  color: white;
  z-index: 9999;
  width: 200px;
  text-align: center;
  background-color: $goldGreen;
}
.page-content-primary-action-container{
  .register-interest{
    position: relative;
    margin-left: 20px;
    float: left;
    top: 0;
    width: 200px;

  }
}

.post-content .read-more{
    position: absolute;
    right: -60px;
    padding: 5px;
}



.view-gallery, .read-more, .download-brochure{
  @extend .front-page-action-button;
  @extend .download-brochure;
    cursor: pointer;
  width: 190px;
  min-width: 190px;
}

.download-brochure {
  display: block;
  background: url(images/downloadbro.gif);
  width: 197px;
  height:32px;
}

.view-gallery{
  display: block;
  background: url(images/viewgallery.gif);
  width: 197px;
  height:32px;
}

.register-interest-button{
  display: block;
  background: url(images/registeryourinterest.gif);
  width: 196px;
  height:32px;
}

.download-brochure-button{
  position: absolute;
}

.frontpage-content-container{
  @include outer-container;
}
.homepage-content-container{
  @include span-columns(8);
  @include outer-container;
  margin-left: 3%;
  padding-left: 4%;

  @include media($medium) {
     @include span-columns(12);
   }
  @include media($small) {
       @include span-columns(12);
  }

}
.download-brochure-container{
  @include span-columns(3);
  @include shift(1);

  @include media($medium) {
    @include span-columns(8);
    @include shift(1);
  }
  @include media($small) {
    @include span-columns(8);
    @include shift(1);
    margin-left: 15%;
  }
}
.homepage-content-container-text{

  @include span-columns(12);
}
.homepage-content-container-actions{
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(8);
    @include shift(1);
  }
  @include media($small) {
    @include span-columns(8);
    @include shift(1);
  }

}
.homepage-content-container-actions-download, .homepage-content-container-actions-register{
  display: inline-block;
}

.homepage-content-container-actions-register{

}
.homepage-content-secondary-container{
  @include outer-container;

    position: absolute;
    left: 50%;
    margin-left: -200px;
}

.homepage-content-secondary-container-span{

  @include span-columns(8);
  @include shift(3);

      background: url(images/CountryLiving-05.svg);
      width: 400px;
      height: 100px;
      background-size: 100%;
      display: block;
      margin-left:0px;

  @include media($small) {
    height: 50px;
    width: 200px;
    margin: 10px 0;
    margin-left: 40%;
  }
}
