.site-header {
	background-color: $grayishCyan;
	overflow: hidden;
	padding: 3em 0;
	position:relative;
	height: 150px;
	border-bottom: 3px solid $goldGreen;
}

.custom-header {
	position: absolute;
	top:0;
}
