.site-header {
	background-color: $grayishCyan;
	overflow: hidden;
	padding: 10px;
	position:relative;
	height: 100px;
	border-bottom: 3px solid $goldGreen;
}

.custom-header {
	position: absolute;
	top:0;
}

.logo-container{
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -75px;
  margin-top: 25px;
  z-index: 99999;
}


.logo{
	display: block;
	background-image: url(images/CuilDuin_Logo.png);
	height: 150px;
	width: 150px;
	cursor: pointer;
    background-size: 100%;
}



.header-nav-container{
  @include outer-container;
	.register-interest{
		margin-top:7px;
	}
}


.register-interest{
  @extend .front-page-action-button;
  @include span-columns(3);
  @include shift(6);

  width: inherit;


  height: 32px;
  width: 197px;
	margin-left: 52%;

  @include media($small) {
	@include span-columns(2);
	position: absolute;
	top: 15%;
	right: 2%;
  }

  @include media($medium) {
	@include span-columns(6);
	margin-left: 5%;

  }
}

.contact-details{
  @include span-columns(3);

	padding-left: 3%;

	@include media($small) {
	  @include span-columns(4);
	  margin-left: 2%;

  	}

  @include media($medium) {
	@include span-columns(6);
	margin-left: 5%;

  }
		.contact-details-number{
			font-size: 20px;
			font-weight: bold;
		}
    .contact-details-text{
      font-size: 12px;
			cursor: pointer;
    }
}
