.site-header {
	background-color: $grayishCyan;
	overflow: hidden;
	padding: 3em 0;
	position:relative;
	height: 150px;
	border-bottom: 3px solid $goldGreen;
}

.custom-header {
	position: absolute;
	top:0;
}

.logo{
	display: block;
	position: absolute;
	left: 45%;
	top: 80px;
	background-image: url(images/CuilDuin_Logo.png);
	height: 150px;
	width: 150px;
	z-index: 9999999999999;
	cursor:pointer;
}

.header-nav-container{
  @include outer-container;
}


.register-interest{
  @extend .front-page-action-button;
  @include span-columns(3);
  @include shift(6);

  @include media($small) {
	@include span-columns(6);
	margin: 10% 5%;
  }
	//float: left;
	//position: absolute;
	//top: 30px;
	//right: 20px;
	//padding: 5px;
}

.contact-details{
  @include span-columns(3);

	@include media($small) {
	  @include span-columns(6);
	  margin-left: 55%;

  	}
	//text-align: left;
	//position: absolute;
	//left: 20px;
	//width: 200px;
	//top: 20px;
		.contact-details-number{
			font-size: 20px;
			font-weight: bold;
		}
    .contact-details-text{
      font-size: 12px;
    }
}
