// .main-menu {
// 	padding-top: 20px;
//
// 	.menu, .menu-item {
// 			display:inline-block;
// 	}
//
// 	.menu-item a {
// 		color: scale-lightness($color1, 70%);
// 		white-space: nowrap;
// 	}
//
// 	.menu-item a:hover {
// 		color: $color2;
// 	}
//
// }

nav {

		font-size: 12px;
    position: absolute;
    bottom: 0;

	a {
		color: #444;
		text-decoration: none;
		font-weight: bold;
	}

	a:hover {
		color: #4C9CF1;
	}

	ul {
		list-style: none;
		display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
	}
	ul li {
		display: inline-block;
		float: left;
		padding: 10px
	}
}

.nav-bottom{
		left: 100px;
		position: relative;
		border-top: 1px solid grey;
}

.nav-bottom li:nth-child(3){
	margin-right: 0px;
}


/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    // width: 130px;
    border-bottom: none;
    // height: 50px;
    // line-height: 50px;
    font-size: 12px;
    display: inline-block;
    //margin-right: -4px;
    min-width: 125px;
  }
	// give space after 3rd child
.nav li:nth-child(3){
	margin-right: 230px;
}

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
    max-width: 200px;
    padding-left: 0;
  }

  .nav li ul li {
    display: block;
  }
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: $black url(images/menu-icon.svg) center;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul {
		 display: none;
		// position: absolute;
		// padding: 20px;
		// background: #fff;
		// border: 5px solid #444;
		// right: 20px;
		// top: 60px;
		// width: 50%;
		// border-radius: 4px 0 4px 4px;

		position: fixed;
		left: 0;
		width: 50%;

	}
	// Temporarily hide submenu in mobile
	nav:hover ul .sub-menu{
		display:none;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
}
