.nav-bottom{

  ul.menu-ul li:nth-child(3) a{
	padding-right: 0;
  }
  font-size: 12px;
  font-weight: bold;
  float: left;
  padding-top: 15px;

}

@include media( max-width 480px ) {
  .mn-navigation-wrap {
	margin-left: -15px;
  }  .nav-bottom{
	   display: none;
	 }
}

@include media( max-width 700px ) {
  nav#menu.nav{
	display: none;
  }
  .nav-bottom{
	display: none;
  }
  .page-content-primary-action-aside.download-brochure{
	float:none;
  }
}

@include media(min-width 701px) {

  .menu-ul, .menu{
	margin: 0;
	padding:0;
  }

  .nav{
	padding-top: 20px;
  }

  nav {
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;

	a {
	  text-decoration: none;
	  display: block;
	  color: #444;
	  font-weight: bold;
	  padding-left: 30px;
	}

	a:hover {
	  color: #4C9CF1;
	}

	ul {
	  list-style: none;
	  text-align: center;
	}

	li {
	  float: left;
	}
	li:nth-child(4), li:nth-child(5), li:nth-child(6){
	  float: right;
	  padding-right: 15px;
	}

	  /* clear'n floats */
	ul:after {
	  clear: both;
	}

	ul:before,
	ul:after {
	  content: " ";
	  display: table;
	}
  }


  ul.menu-ul li:last-child a {
	border-right: none;
  }

  ul.menu-ul li a:hover {
	color: #000;
  }

}

@include media(max-width 1000px) {
	.logo{

	  height: 100px;
	  width: 100px;
	  background-size: 100%;
	}


}
