
/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/
// min-width: 650px

@include media($small) {

    .site-header{
      padding: 0;
    }
    .logo{
        left: 35%;
        top: 15%;
        height: 75px;
        width: 75px;
        background-size: 100% 100%;
      }
    .slider-description{
      height: 30px;
      padding: 0px 5%;

    }

    .slider-description-text{
      font-size: 12px;
      margin: 0;
    }
    footer{
      padding-bottom: 24px;
      padding-top: 8px;
      height: 0;
    }

    .page-content.primary h1{
      font-size: 20px;
      margin-top: 0;
    }
    .page-content-primary-article-container .page{
      font-size: 12px;
    }
    .page-content-primary-article-container {
      width: 90%;
    }
    .page-content-primary-action-container .register-interest{
      margin-left: 11%;
      min-width: 200px;
      width: 200px;
      text-align: center;
      padding: 2%;
    }
    .page-content-primary-action-container .download-brochure{
      float: none;
      margin: 0;
      margin-top: 2%;
      margin-left: 11%;
      min-width: 200px;
      width: 200px;
      text-align: center;
    }
    .page-content-primary-action-aside.download-brochure{
      float: none;
      margin-left: 10%;


    }

  .page-content.secondary{

    min-height: 300px;
    h1{
      font-size: 16px;
      margin: 5%;
    }
   .view-gallery {
     float:none;
     width: 130px;
     min-width: 130px;
     margin-left: 30%;
    }
  }


  }


@include media($medium) {


  .slider-description{
    height: 30px;
    padding: 0px 10%;

  }

  .slider-description-text{
    font-size: 19px;
    margin: 0;
    padding: 0px 4%;
  }

  .logo{
    left: 35%;
  }
}

@include media($large) {

  .logo{
    left: 41%;
  }


}



@include media($large) {
  .logo{
    left: 35%;
    margin-top: 50px;
  }
  .page-content.primary{
    margin: 0;
  }
  .page-content-primary-article-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page-content-primary-article-container h1{
    font-size: 20px;
  }
  .page-content-primary-article-container .page{
    font-size: 12px;
  }
  .slider-description{
    height: 30px;
    padding-left: 5%;

  }
  .slider-description-text{
    font-size: 18px;
    margin: 0;
  }
  .download-brochure{
    float: left;
    margin: 10px 0;
    margin-left: 55px;
  }
  .page-content-primary-action-container {
    .register-interest{
    margin-left: 25px;
    }
    .download-brochure{
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 90px;
    }
  }
  .page-content.secondary h1{
      font-size: 20px;
      margin-left: 45px;
  }
  .page-content.secondary .view-gallery{
    margin: 0;
    padding: 5px;
  }
  .footer-navigation-links-copyright{
    margin-left: 60px;
  }
  .footer-navigation-links .footer-navigation-conradjones{
    float: left;
    margin-left: 95px;
    padding-top: 0;
  }
  .page-content-primary-action-aside.download-brochure{
    float:none;
  }
  .mainSliderDiv {
    max-width: 221px;
}
.page-content-primary-action-container .download-brochure{
    float: left;
    margin-top: 20px;
}


}
