.compass-graphic{
    background: url(images/Compass.svg);
    width: 151.755px;
    height: 140.351px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
      @include media($small) {
          display:none;
      }
}
.sitemap-legend-heading{
  font-family: $CenturyGothic;
  width: 400px;
  color: black;
  font-size: 15px;
  text-align: left;


  @include media($small) {
    width: 100%;
  }
}
.sitemap-legend{
  z-index: 99999;
  position: absolute;
}

  @include media($small) {
    .sitemap-legend svg{
      width: 345px;
      height: 151px;
      margin-left: -45px;
    }
}

.sitemap-container{
  @include media($small) {
      margin-top: 250px;
  }
}

.svgclickable{
  cursor:pointer;
}
  /* Item Specific More Button */
  #two-bed-mid-terrace{ top:55px; left:60px;}
  #three-bed-end-of-terrace{ top:160px; left:60px; }
  #three-bed-mid-terrace{ top:90px; left:60px; }
  #four-bed-semi-detached{ top:125px; left:60px; }
  #three-bed-semi-detached{ top:195px; left:60px; }


/* PANZOOM */
.panzoom {
  width: 100%; height: 100%;

}

    .sitemap-legend-container{
      left: 50%;
      position: absolute;
      margin-left: -200px;
      h1{
        text-align:center;margin-top:40px;
      }
      .sitemap-legend-heading{
        text-align:center;margin-top:20px;margin-bottom:0;
      }
    }

@include media($small) {
    .sitemap-legend-container{
          left: 10%;
          position: absolute;
          top: 15%;
          margin-left: 0;
    }

    .panzoom-parent{
      margin-top:200px;
    }
}

.zoom-in,.zoom-out, .reset{
    background-color: #556b78;
    color: white;
    border: 0;

}
.zoom-container{
  display:inline-block;
}
.zoom-in,.zoom-out{
      display: block;
      width: 25px;
}


input[type=range].cuilDuinInputRange {
  -webkit-appearance: none;
  width: 60%;
  margin: 21.15px 0;
  padding:0;
  margin-left: 20%;
  @include media($small) {
  margin-left: 10%;
  }
}
input[type=range].cuilDuinInputRange:focus {
  outline: none;
}
input[type=range].cuilDuinInputRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #4a5e69;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].cuilDuinInputRange::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 7px;
  border-radius: 0px;
  background: #b3a283;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range].cuilDuinInputRange:focus::-webkit-slider-runnable-track {
  background: #556b78;
}
input[type=range].cuilDuinInputRange::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #4a5e69;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].cuilDuinInputRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 7px;
  border-radius: 0px;
  background: #b3a283;
  cursor: pointer;
}
input[type=range].cuilDuinInputRange::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].cuilDuinInputRange::-ms-fill-lower {
  background: #3f515a;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].cuilDuinInputRange::-ms-fill-upper {
  background: #4a5e69;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].cuilDuinInputRange::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 7px;
  border-radius: 0px;
  background: #b3a283;
  cursor: pointer;
  height: 5px;
}
input[type=range].cuilDuinInputRange:focus::-ms-fill-lower {
  background: #4a5e69;
}
input[type=range].cuilDuinInputRange:focus::-ms-fill-upper {
  background: #556b78;
}
